<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="header">
        <div class="sides"> <a href="#" class="menu"> </a></div>
        <div class="info">
        <h4><a href="#category">Welcome</a></h4>
          <h1>Zete Hub for the Alpha Pi Chapter of Zeta Psi</h1>
          <div class="meta">
            <a  href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b" class="author"></a><br>
            By <a href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b">Gibbs Gresge</a> 
          </div>
        </div>
      </div>
      <div class="bio">
        <img src="../static/images/wesley.JPG" alt="">
        
        <div class="name">
            <h1>Name</h1>
            <p>Wesley Tedford</p>
        </div>
        
        <div class="major">
            <h2>Major</h2>
            <p>Mechanical Engineer</p>
        </div>
        
        <div class="year-graduating">
            <h2>Year Graduating</h2>
            <p>2025</p>
        </div>
        
        <div class="linkedin">
            <h3>LinkedIn</h3>
            <p>url here</p>
        </div>
        
        <div class="email">
            <h3>Email</h3>
            <p>Email here</p>
        </div>
        
        <div class="phone-number">
            <h3>Phone Number</h3>
            <p>Phone Number</p>
        </div>
    </div>
</body>