<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Details</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="header">
        <div class="sides"> <a href="#" class="menu"> </a></div>
        <div class="info">
        <h4><a href="#category">Welcome</a></h4>
          <h1>Zete Hub for the Alpha Pi Chapter of Zeta Psi</h1>
          <div class="meta">
            <a  href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b" class="author"></a><br>
            By <a href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b">Gibbs Gresge</a> 
          </div>
        </div>
      </div>
      <div class="bio">
        <img src="{{ url_for('static', filename='images/' + member.image_url.replace('%20', '')) }}" alt="">
        
        <div class="name">
            <h1>Name</h1>
            <p>{{ member.name }}</p>
        </div>
        
        <div class="major">
            <h2>Major</h2>
            <p>{{ member.major }}</p>
        </div>
        
        <div class="year-graduating">
            <h2>Year Graduating</h2>
            <p>{{ member.year_graduating }}</p>
        </div>
        
        <div class="linkedin">
            <h3>LinkedIn</h3>
            <p>{{ member.linkedin_url }}</p>
        </div>
        
        <div class="email">
            <h3>Email</h3>
            <p>{{ member.email }}</p>
        </div>
        
     
    </div>
</body>
</html>