<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body class="welcome">
    <div class="header">
        <div class="sides"> <a href="#" class="menu"> </a></div>
        <div class="info">
            <h4><a href="#category">Welcome</a></h4>
            <h1>Zete Hub for the Alpha Pi Chapter of Zeta Psi</h1>
            <div class="meta">
                <a href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b" class="author"></a><br>
                By <a href="https://www.linkedin.com/in/gibbs-gresge-2aa017292/" target="_b">Gibbs Gresge</a> 
            </div>
        </div>
    </div>

    <main>
        <div class="cards-container">
            {% for member in members %}
            <a href="/personal/{{ member.id }}">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/' + '/' + member.image_url.replace('%20', '') ) }}" alt="{{ member.name }}">
                    <div class="card-content">
                        <p>
                            {{ member.name }}, A {{ member.major }} Graduating May {{ member.year_graduating }}
                        </p>
                        <h2>{{ member.name }}</h2>
                        <span class="material-symbols-outlined">
                            arrow_right_alt
                        </span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>